body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: baseline;
  }

header label {
    margin-left: auto;
  }

header input[type="range"] {
    width: 350px;
}

header time {
    display: block;
    text-align: right;
  }